[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=MediaKeys Daemon
Comment=Python wrapper for media keys
Exec=/usr/local/bin/mkd.py -d
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

